@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body{
    background: url("https://tailwindui.com/img/beams-home@95.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
